/* Google fonts start */

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Google fonts end /* 

/* Обнуление */

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

.wrapper {
   max-width: 1200px;
   margin: 0 auto;
}

html {
   scroll-behavior: smooth;
 }

body {
   font-family: Raleway;
   font-weight: normal;
   line-height: 1.2;
   font-size: 18px;
   color: #E2E6EE;
}

/* HEADER START */

.header {
   background: #312163;
   padding: 10px 0;
}

.header__wrapper {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.header__list {
   display: flex;
   flex-wrap: wrap;
}

.header__item {
   margin-right: 40px;
}

.header__item:last-child {
   margin-right: 0;
}

.header__link {
   color: #E2E6EE;
   line-height: 24px;
   font-family: Abril Fatface;
   transition: .3s;
   position: relative;
}

.header__link:active, .header__link:focus, .header__link:hover {
   color: #F7F9FC;
}

.header__link::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: #F7F9FC;
}

.header__link:hover:before, .header__link:active:before, .header__link:focus:before {
	width: 100%;
}

.header__link::before {
	transition: width 0.4s;
}

.header__logo-pic {
   max-height: 50px;
}

/* HEADER END */

/* MAIN START */

.main__wrapper {
   display: flex;
   flex-wrap: wrap;
}

.leftpart {
   padding-top: 30px;
   width: 40%;
   background: url(./assets/Background\ gradient.png);
   background-size: cover;
}

.rightpart {
   background: url(./assets/Background2.png);
   background-size: cover;
   width: 60%;
}

.rightpart__wrapper {
   padding-top: 30px;
   padding-left: 40px;
   max-width: 720px;
   margin: 0;
   margin-right: auto;
}

/* MAIN END */

/* PROFILE START */

.profile__photo {
   justify-content: center;
   display: flex;
}

.profile__photo-pic:hover {
   cursor: pointer;
   transform: scale(1.08);
   border-radius: 30%;
}

.profile__photo-pic {
   max-height: 230px;
   border-radius: 50%;
   border: solid 3px #F7F9FC;
   transition: .4s;
}

.profile__text {
   text-align: center;
}

h1, h2 {
   font-family: Abril Fatface;
   font-weight: normal;
   line-height: 1.8;
   color: #F7F9FC;
}

.profile__title {
   font-size: 38px;
}

/* PROFILE END */

/* CONTACTS START */

.contacts, .languages {
   padding-top: 80px;
   max-width: 440px;
   margin: 0;
   margin-left: auto;
}

.title {
   display: flex;
   margin-bottom: 15px;
}

.photo {
   max-width: 40px;
   margin-right: 15px;
}

.contacts__list {
   line-height: 1.5;
}

/* CONTACTS END */

/* LANGUAGES START */

.languages__flag-pic {
   border-radius: 15%;
   max-width: 60px;
   margin-right: 10px;
}

.languages__item {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 15px;
}

.languages__item:last-child {
   margin-bottom: 0;
}

.languages__text-title {
   font-weight: bold;
}

/* LANGUAGES END */

/* ABOUT START */

.photo-about {
   max-width: 50px;
   margin-right: 15px;
}

.about, .skills, .example {
   margin-bottom: 30px;
}

/* ABOUT END */

/* SKILLS START */

.skills__name {
   font-weight: bold;
   margin-bottom: 15px;
   font-size: 20px;
}

.skills__list {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: 1fr 3fr;
}

.skills__scale {
   margin-top: 5px;
   display: grid;
   grid-gap: 15px;
}

.skills__pic {
   width: 190px;
}

/* SKILLS END */

/* EXAMPLE START */

.example__code {
   background-color: #2E2E48;
   border-radius: 15px;
   margin-bottom: 25px;
}

.example__code-text {
   padding: 10px;
}

.example__projects-title {
   font-weight: 600;
   font-size: 25px;
   margin-bottom: 15px;
}

.example__projects-pic {
   max-width: 320px;
   margin-bottom: 15px;
}

.example__projects-list {
   display: flex;
   flex-wrap: wrap;
}

.example__projects-item {
   margin-right: 40px;
}

.example__projects-item:last-child {
   margin-right: 0;
}

.example__projects-name {
   text-align: center;
   color: #F7F9FC;
   font-weight: bold;
   transition: step-start, 0.4s;
}

.example__projects-name:focus, .example__projects-name:hover, .example__projects-name:active {
   background-color: #2E2E48;
}

/* EXAMPLE END */

/* EDUCATION START */

.education__item {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.education__link {
   color: #E2E6EE;
   transition: .4s;
}

.education__link:hover {
   color: #F7F9FC;
}

/* EDUCATION END*/

/* FOOTER START */

.footer {
   background: #312163;
}

.footer__wrapper {
   padding: 50px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.footer__github {
   color: #E2E6EE;
   display: flex;
   align-items: center;
}

.footer__rs-pic {
   max-height: 40px;
}

/* FOOTER END */
